{
    "timeout": 10,
    "source": {
        "directories": [
            "src\/DinnerBundle"
        ],
        "excludes": [
            "Tests"
        ]
    },
    "logs": {
        "text": "infection.log"
    },
    "mutators": {
        "@default": true,
        "PublicVisibility": {
          "ignore": ["*"]
        }
    }
}
