<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}PTI Dinner Accounting{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets filter="scssphp" output="css/app.css" output="css/dinner.css"
        "bundles/dinner/scss/*.scss" %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}
    {% javascripts 'bundles/dinner/js/*.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>
