body {
    font-family: Rubik, sans-serif;
    font-size: 12pt;
    background: #eee;
    padding: 0 0 1em;
}

h1 {
    font-family: Lato, serif;
}

.guest-form, .ad-form {
    label, .label {
        float: left;
        text-align: right;
        font-weight: bold;
        width: 20%;
        padding: 0 0.8em 0 0;
    }

    form > div {
        padding: 0.4em 0;
    }

    form > div > div:nth-child(2) {
        float: left;
        width: 75%;
    }

    form > div {
        clear: both;
    }

    textarea {
        height: 10em;
        width: 30em;
    }

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    input[type="submit"] {
        font-size: 1.2em;
    }
}

.form-controls {
    margin: 2em 0 0;

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        float: left;
        list-style: none;
        border-right: 1px solid #000;
        margin: 0;
        padding: 0 0.4em;
    }

    li:first-child {
        padding-left: 0;
    }

    li:last-child {
        border-right: none;
    }
}
